# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.env
.idea/
kubernetes/django-secret.yaml
yc-sirius-k8s/django-secret.yaml
yc-sirius-k8s/django-config.yaml
yc-sirius-k8s/django-superuser-secret.yaml
